<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header bg-success">
        <h5>Add Task</h5>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <form class="row g-3 needs-validation" novalidate>
          <div class="col-5 text-center" style="margin-left: 40px">
            <label for="">Task</label>
            <input
              type="text"
              name="taskName"
              [(ngModel)]="taskObj.taskName"
              class="form-control"
              style="border: 2px solid black"
            />
          </div>
          <div class="col-5 text-center">
            <label for="">Description</label>
            <textarea
              name="taskDescription"
              [(ngModel)]="taskObj.taskDescription"
              class="form-control"
            ></textarea>
          </div>
          <div class="col-8 text-beginning" style="margin-left: 40px">
            <label class="form-label">status</label><br />
            <select
              class="col-6 text-end"
              name="taskStatus"
              required
              [(ngModel)]="taskObj.taskStatus"
            >
              <option value="">Select Status</option>
              <option value="Completed">Completed</option>
              <option value="Ongoing">Ongoing</option>
            </select>
          </div>
          <div class="row">
            <div class="col-6">
              <button
                class="btn btn-success"
                style="margin-top: 40px; text-align: end; margin-left: 40px"
                (click)="onSave()"
              >
                Save Task
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
